@media screen and (min-width: 600px) {
  #img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  #img {
    width: 30px;
    height: 30px;
  }
}





#blue{
  background-color: blue;
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 600px){
  #blue {
    background-color: red;
  }
}




#text{
  background-color: green;
  color: green;
  width: 500px;
  height: 500px;
}

@media  screen and (min-width: 600px) {
  #text {
    color:green;
  }
}
@media  screen and (max-width: 600px) {
  #text{
    color:yellow;
  }
}



#moon{
  
  width: 600px;
  background-repeat:no-repeat;
  background-image: url('moon2.jfif'); ;
  
}

@media only screen and (max-width: 600px) {
  #moon {display: none;}
  
}
#for{ width: 40px; height: 30px;
  display: none;
}


@media only screen and (max-width:600px){
  #for {width: 100px; height: 200px; display: block; }
}


#squre{
  background-color: blue;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

@media only screen and (max-width: 600px){
  #squre {
    border-radius: 0%;
  }
}


#pic4{
  width: 200px;
  height: 200px;
  filter: blur(4px);
}

@media only screen and (max-width: 600px){
  #pic4 {
    filter: grayscale(5);
  }
}
